@import '../../index.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.hero {
    background: var(--background) url(../../assets/hero-einstein.png) no-repeat right center;
    height: 550px;
}

.hero-headline {
    max-width: var(--fixed-width);
}
.hero-headline__main {
    font-size: var(--main-text-size);
    color: var(--dark-blue-text);
}

.hero-headline__subtitle {
    margin: var(--margin-y);
    color: var(--green);
}
.hero-headline__subtitle__subtitle {
    color: var(--dark-blue-text);
}

.hero-headline__subtitle,
.hero-headline__subtitle__subtitle {
    font-size: var(--subtitle-size);
    line-height: var(--line-height-lg);
}