@import '../../../index.css';

.navbar-list__item {
    margin: var(--margin-x);
}
.navbar-list__item .navbar-list__item__link {
    color: var(--dark-blue-text);
    text-decoration: none;
    transition: var(--transition);
    font-weight: 700;
}

.navbar-list__item .navbar-list__item__link:hover {
    color: var(--orange);
}

.active {
    border-bottom: 2px solid var(--orange);
}