@import './root.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* general */
body {
  font-family: 'DM Sans', sans-serif;
}
.container {
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-x);
}
.container-md {
  height: 100%;
  max-width: var(--small-container);
  margin: 0 auto;
  padding: var(--padding-x);
}

ul {
  list-style: none;
}

/* UTILITIES */

/* flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* margins */
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-lg {
  margin-bottom: 35px;
}

/* buttons */
.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition);
}
.cta {
  margin-top: var(--margin-top);
  padding: var(--btn-padding-lg);
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--radius);
  color: var(--clr-white);
  background-color: var(--green);
}
.cta:hover {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: transparent;
}

.cta-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-align: center;
  margin-top: var(--margin-top);
  padding: var(--btn-padding-lg);
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--radius);
  color: var(--green);
  background-color: var(--clr-white);
}
.cta-white:hover {
  color: var(--orange);
}